# Class Files #
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
# *.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*/build/*
*.epc
*.edc



# NetBeans specific #
The\ e-Cheque\ Client/The\ e-Cheque\ Client.iml
The\ e-Cheque\ Client/nbproject/private/
The\ e-Cheque\ Client/build/
The\ e-Cheque\ Client/nbbuild/
The\ e-Cheque\ Client/dist/
The\ e-Cheque\ Client/nbdist/
The\ e-Cheque\ Client/nbactions.xml
The\ e-Cheque\ Client/nb-configuration.xml
The\ e-Cheque\ Client/.idea/*

e-Cheque\ Bank\ Side/e-Cheque\ Bank\ Side.iml
e-Cheque\ Bank\ Side/nbproject/private/
e-Cheque\ Bank\ Side/build/
e-Cheque\ Bank\ Side/nbbuild/
e-Cheque\ Bank\ Side/dist/
e-Cheque\ Bank\ Side/nbdist/
e-Cheque\ Bank\ Side/nbactions.xml
e-Cheque\ Bank\ Side/nb-configuration.xml

e-Cheque\ Bank\ Side/.idea/*

